<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="log-success">
            <div>
                <h1>Authentification Test</h1>
                <p>Successfully Logged in</p>
            </div>
            <div>
                <h3>WELCOME !!!</h3>
                <p>Your account ID: <%= results.ID %></p>
                <p>Name: <%= results.username %></p>
                <p>Email: <%= results.email %></p>
            </div>
        </section>
        <div class="signup-link">
            <p>Want to logout ? <a href="/">Click Here !</a></p>
        </div>
    </main>
</body>
</html>