<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>

<body>
    <main>
        <section>
            <div>
                <h1>Authentification Test</h1>
                <p>Create your account</p>
            </div>
            <form id="registerForm" method="POST">
                <div>
                    <div id="err-msg"></div>
                    <div id="val-msg"></div>
                    <div class="label-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="text" name="email" required>
                    </div>
                    <div class="label-box">
                        <label for="username">Username</label>
                        <input id="username" type="text" name="username" required>
                    </div>
                    <div class="label-box">
                        <label for="password">Password</label>
                        <input id="password" type="password" name="password" required>
                    </div>
                </div>
                <div class="button-box">
                    <button type="submit" id="submit">SIGN UP</button>
                </div>
            </form>
        </section>
        <div class="signup-link">
            <p>Already have an account ? <a href="/">Login</a></p>
        </div>
    </main>
    <script src="/script2.js"></script>
</body>

</html>